header {
    font-family: 'Optima', sans-serif;
    line-height: 5px;
    margin: 3px;
    padding: 10px;
    background-color: #BCE3CF;
}
body{
  font-family: 'Optima', sans-serif;
  line-height: .8px;
  margin: 3px;
  padding: 10px;
  background-color: #BCE3CF;
}
p{
  text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}
