header {
    font-family: 'Optima', sans-serif;
    line-height: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #F3F0E7;
}
body{
  font-family: 'Optima', sans-serif;
  line-height: 2px;
  margin: 3px;
  padding: 10px;
  background-color: #C7E7ED;
}

p{
  text-align: center; color: #004364;
}

h1{
    text-align: center; color: #00678B;
}

h2{
    text-align: center;
}
