header {
    font-family: 'Optima', sans-serif;
    line-height: 24px;
    margin: 10px;
    padding: 10px;
}
body{
  font-family: 'Optima', sans-serif;
  line-height: 2px;
  margin: 3px;
  padding: 10px;
  background-color: #C7E7ED;
}

.conic-default {
  background-image: conic-gradient(#00909F, #E5ECA0);
}

p{
  text-align: center; color: #F3F0E7;
}

h1{
    text-align: center; color: #F3F0E7;
}

h2{
    text-align: center;
}
